node_modules
/server/dist/
/frontend/dist/
.env.*
/server/src/configs/serviceAccountKey.json
*.log
frontend/src/env.front.development
server/env.server.development
server/env.server.production
/server-go/internal/firebase/serviceAccountKey.json