.primary-background-color {
    background-color: #143542;
}

.secondary-background-color {
    background-color: #D9D9D9;
}

.accent-color {
    color: #846F91;
}

.text-color-light {
    color: #FFFFFF;
}

.text-color-dark {
    color: #090608;
}